.sign-bg,.verify-bg {
  background-color: #e5e7eb;
  height: 20vh;
  padding: 0;
  margin: 0;
  width: 100;
}
.common-div{
  max-width: 700px;
  padding: 40px;
  background-color: #ffffff;
  border-radius: 7px;
  margin: auto;
  margin-top: -50px;
  margin-bottom: 30px;
  box-shadow: 0.5px 1px 5px 5px  rgb(232, 226, 226);
}
.sign-msg-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  .sign-msg {
    border: 2px solid var(--primary-color);
    border-radius: 4px;
    outline: none;
    padding: 5px;
  }
  .sign-btn {
    background-color: var(--secondary-color);
    width: 150px;
    height: 40px;
    outline: none;
    border-radius: 5px;
    border: 1px solid var(--secondary-color);
    color: white;
    cursor: pointer;
    &:hover {
      background-color: var(--primary-color);
      border: 1px solid var(--primary-color);
    }
  }
  .sign-details {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 527px;
    .sign-address,
    .sign-message,
    .sign-signature {
      display: flex;
      cursor: pointer;
      gap: 70px;
      justify-content: space-between;
      border: 2px solid;
      padding: 10px;
    }
  }
}

.address {
  color: var(--address-color);
}

.verify-msg-wrapper {
  .verify-text {
    text-align: center;
    padding: 10px;
    font-size: 25px;
    // text-transform:uppercase;
    color: var(--text-color);
  }
  .verify-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    .verify-address,
    .verify-signature {
      height: 40px;
      padding: 10px;
      border: 1px solid var(--primary-color);
      border-radius: 5px;

      outline: var(--address-color);
    }
    .verify-message {
      height: 80px;
      padding: 10px;
      border-radius: 5px;
      border: 1px solid var(--primary-color);
      outline: var(--address-color);
    }
  }
  .verify-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    button {
      background-color: var(--secondary-color);
      width: 150px;
      height: 40px;
      outline: none;
      border-radius: 5px;
      border: 1px solid var(--secondary-color);
      color: white;
      cursor: pointer;
      &:hover {
        background-color: var(--primary-color);
        border: 1px solid var(--primary-color);
      }
    }
  }
}
