.sign-msg-wrapper {
  display: flex;
  margin-top: 50px;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  .sign-msg {
    border: 2px solid var(--primary-color);
    border-radius: 4px;
    outline: none;
    padding: 5px;
  }
  .sign-btn {
    background-color: var(--secondary-color);
    width: 150px;
    height: 40px;
    outline: none;
    border-radius: 5px;
    border: 1px solid var(--secondary-color);
    color: white;
    cursor: pointer;
    &:hover {
      background-color: var(--primary-color);
      border: 1px solid var(--primary-color);
    }
  }
  .sign-details {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 527px;
    .sign-address,
    .sign-message,
    .sign-signature {
      display: flex;
      cursor: pointer;
      gap: 70px;
      justify-content: space-between;
      border: 2px solid;
      padding: 10px;
    }
  }
}

.address {
  color: var(--address-color);
}

.verify-msg-wrapper {
  width: 50%;
  margin: auto;
  margin-top: 50px;
  .verify-text {
    text-align: center;
    padding: 10px;
    font-size: 25px;
    // text-transform:uppercase;
    color: var(--text-color);
  }
  .verify-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    .verify-address,
    .verify-signature {
      height: 40px;
      padding: 10px;
      border: 2px solid var(--primary-color);
      outline: var(--address-color);
    }
    .verify-message {
      height: 80px;
      padding: 10px;
      border: 2px solid var(--primary-color);
      outline: var(--address-color);
    }
  }
  .verify-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    button {
      background-color: var(--secondary-color);
      width: 150px;
      height: 40px;
      outline: none;
      border-radius: 5px;
      border: 1px solid var(--secondary-color);
      color: white;
      cursor: pointer;
      &:hover {
        background-color: var(--primary-color);
        border: 1px solid var(--primary-color);
      }
    }
  }
}
